
@font-face {
    font-family: 'shrikhandregular';
    src: url('/webfontkit-SKR/shrikhand-regular-webfont.woff2') format('woff2'),
         url('/webfontkit-SKR/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('/webfontkit-20210121-092736/roboto-black-webfont-webfont.woff2') format('woff2'),
         url('roboto-black-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('/webfontkit-20210121-092736/roboto-bold-webfont-webfont.woff2') format('woff2'),
         url('/webfontkit-20210121-092736/roboto-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin';
    src: url('/webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff2') format('woff2'),
         url('/webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
}
header{
    

    .logo{
        width: 375px;

        &__image{
        display: flex;
        justify-content: center;
        margin: auto;
        height:30px;
        padding-top:10px;
        padding-bottom:10px;
        object-fit: cover;
        }
    }

    .presentation{
        height:350px;
        background-color:#F2F2F2;
        margin:auto;

        &__lieu{
        height: 50px;
        background-color: grey;
        display: flex;
        justify-content: center;

            &__icone{
                padding-top: 15px;
                padding-right: 15px;
            }

            &__adresse{
            background-color: grey;
            border: 1px solid grey;
            

                &__adresse + .placeholder{
                    color: black;
                }
            }
           
        }
    
        &__reservation{
            text-align: center;

            &__1{ 
            font-weight: bold;    
            margin-top: 35px;
            margin-bottom: 10px;
            font-size:25px;
            font-family: robotobold;
            }

            &__2{
            font-size:18px;
            margin-bottom: 35px;
            font-family: robotothin;
            }    
        }

        &__bouton{
        
            &__restaurant{
                width: 220px;
                border: 2px solid #9356DC;
                background-color:  #9356DC;
                border-radius: 25px;
                text-align: center;
                margin: auto;

                &__texte{
                color: #ffffff;
                font-size: 15px;
                font-family: robotoblack;
                }
            }
        }
    }
}

.menu__bouton{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 350px;
    margin-bottom: 50px;
    margin:auto;

    h2{
        margin-top: 45px;
        margin-bottom: 0px;
        margin-left: 16.5px;
        font-family: robotoblack;
    }

    &__1{
        width: 330px;
        border: 2px solid  #F2F2F2;
        background-color: #F2F2F2;
        border-radius: 8px;
        margin-left: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content:flex-start;
        box-shadow: 1px 4px 10px grey;
    }

    &__number{
        border: 1px solid#9356DC;
        border-radius: 25px;
        padding: 2.5px 6px 2.5px 6px;
        background-color:#9356DC;
        color: #ffffff;
        font-size:12px;
        position: absolute;
        left: 17px;
        font-family: robotothin;
    }
    
    &__texte{
        text-align: left;
        width: 300px;
        font-family: robotoblack;
    }
    &__icone{
        width: 90px;
        text-align: center;
        color: grey;
    }

}

.restaurants{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding-bottom: 50px;

    h2{
        margin-top: 45px;
        margin-bottom: 25px;
        margin-left: 16.5px;
        font-family: robotoblack;
    }
    a{
        width:338px;
        height:180px;
        margin: auto;
        text-decoration: none;
        color: black;
        
    }
    
    &__images{
        width:338px;
        height:180px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
        margin-bottom: 0px;
        margin: auto;
        
    }
    &__nom{
        border: 2px solid #ffffff;
        background-color: #ffffff;
        box-shadow: 1px 4px 10px grey;
        padding: 3px;;
        width:334px;
        height: 40px;
        border-radius: 0px 0px 25px 25px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        


        &__texte{
            margin-left: 10.5px;
            font-weight: bold;
            font-size: 20px;
            font-family: robotoblack;
            
            &__lieu{
                font-style: normal;
                font-weight: normal;
                font-family: robotothin;
                
            }

        }
        &__icone{
            width: 50px;
            height: 40px;
            font-size: 30px;
            
            
           
            

        }

    }

  
}
footer{
    background-color: grey;
    height: 230px;

    .information{
        height: 170px;
        padding-top:  20px; ;
        margin-left: 16.5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__logo{
            font-size: 20px;
            padding: 20px 20px 15px 0px;
            object-fit: cover;
            font-family: shrikhandregular;
            color: white;
            
            
            
        }

        &__texte{
            color: white;
            font-size: 15px;
            display: flex;
            font-family: robotoblack;

            &__icone{
                width: 30px;
                
            

            }
        }
    }
}
     
