@font-face {
  font-family: "shrikhandregular";
  src: url("/shrikhand-regular-webfont.woff2") format("woff2"), url("webfontkit-SKR/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("/roboto-black-webfont-webfont.woff2") format("woff2"), url("webfontkit-20210121-092736/roboto-black-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("/roboto-bold-webfont-webfont.woff2") format("woff2"), url("webfontkit-20210121-092736/roboto-bold-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff2") format("woff2"), url("webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}

header .logo__image {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .presentation {
  height: 350px;
  background-color: #F2F2F2;
  margin: auto;
}
header .presentation__lieu {
  background-color: #dbd7d7;
  display: flex;
  justify-content: center;
}
header .presentation__lieu__saisie__adresse {
  background-color: #dbd7d7;
  border: 1px solid #dbd7d7;
  font-family: robotoblack;
  color: black;
  padding-left: 10px;
  margin: auto;
  width: 140px;
  height: 25px;
  font-size: 15px;
}
header .presentation__reservation {
  text-align: center;
}
header .presentation__reservation__1 {
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: robotobold;
}
header .presentation__reservation__2 {
  font-size: 18px;
  margin-bottom: 35px;
  font-family: robotothin;
}
header .presentation__bouton__restaurant {
  width: 220px;
  border: 2px solid #F2F2F2;
  background: linear-gradient(to top left, #9356DC, #ff79DA);
  border-radius: 25px;
  text-align: center;
  margin: auto;
}
header .presentation__bouton__restaurant__texte {
  color: #ffffff;
  font-size: 15px;
  font-family: robotoblack;
}

.menu__bouton {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 50px;
  margin: auto;
}
.menu__bouton h2 {
  margin-top: 45px;
  margin-bottom: 0px;
  margin-left: 16.5px;
  font-family: robotoblack;
}
.menu__bouton__1 {
  width: 330px;
  height: 20px;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
  border-radius: 8px;
  margin-top: 25px;
  margin-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 1px 4px 10px grey;
}
.menu__bouton__number {
  border: 1px solid #9356DC;
  border-radius: 25px;
  padding: 2.5px 6px 2.5px 6px;
  background-color: #9356DC;
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  left: 17px;
  font-family: robotothin;
}
.menu__bouton__texte {
  text-align: left;
  width: 300px;
  font-family: robotoblack;
}
.menu__bouton__icone {
  width: 90px;
  text-align: center;
  color: grey;
}

.restaurants {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-top: 45px;
  margin-bottom: 25px;
  margin-left: 16.5px;
  font-family: robotoblack;
}
.restaurants a {
  width: 338px;
  height: 180px;
  margin: auto;
  text-decoration: none;
  color: black;
}
.restaurants__images {
  width: 338px;
  height: 180px;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0px;
  margin: auto;
}
.restaurants__nom {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 4px 10px grey;
  padding: 3px;
  width: 330px;
  height: 40px;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.restaurants__nom__texte {
  margin-left: 10.5px;
  font-weight: bold;
  font-size: 20px;
  font-family: robotoblack;
}
.restaurants__nom__texte__lieu {
  font-style: normal;
  font-weight: normal;
  font-family: robotothin;
}
.restaurants__nom__icone {
  width: 50px;
  height: 40px;
  font-size: 30px;
  transform: scaleY(1);
}
.restaurants__nom__icone i:hover {
  transform-origin: 50%;
  color: blueviolet;
  transform: scaleX(1.5);
  transition: transform 10000ms;
}
.restaurants__nom__nouveau {
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  margin: auto;
  padding: 3px;
  font-family: robotoblack;
  color: #54877a;
  font-size: 13px;
  position: absolute;
  top: 905px;
  right: 30px;
}
.restaurants__nom__nouveau--taille {
  position: absolute;
  top: 1190px;
  right: 30px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  margin: auto;
  padding: 3px;
  font-family: robotoblack;
  color: #54877a;
  font-size: 13px;
}

footer {
  background-color: #303030;
  height: 230px;
}
footer .information {
  height: 170px;
  padding-top: 20px;
  margin-left: 16.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .information__logo {
  font-size: 20px;
  padding: 20px 20px 15px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: shrikhandregular;
  color: white;
}
footer .information__texte {
  color: white;
  font-size: 15px;
  display: flex;
  font-family: robotoblack;
}
footer .information__texte__icone {
  width: 30px;
}
footer .information__texte a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=omgf.css.map */
