@font-face {
  font-family: "shrikhandregular";
  src: url("../webfontkit-SKR/shrikhand-regular-webfont.woff2") format("woff2"), url("../webfontkit-SKR/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("../webfontkit-20210121-092736/roboto-black-webfont-webfont.woff2") format("woff2"), url("../webfontkit-20210121-092736/roboto-black-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../webfontkit-20210121-092736/roboto-bold-webfont-webfont.woff2") format("woff2"), url("../webfontkit-20210121-092736/roboto-bold-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff2") format("woff2"), url("../webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: 100% 270px;
  background-repeat: no-repeat;
  background-position: 0px 50px;
}

header .logo {
  display: flex;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .logo__icone {
  font-size: 20px;
  padding: 15px 0px 0px 20px;
}
header .logo__icone a {
  color: black;
}
header .logo__image {
  display: flex;
  justify-content: right;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .restaurant__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 375px;
  height: 250px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 230px;
  border: 2px solid #F2F2F2;
  border-radius: 25px 25px 0px 0px;
  background-color: #F2F2F2;
}
.menu__titre {
  text-align: center;
  width: 100%;
}
.menu__titre__nom {
  font-family: shrikhandregular;
  font-size: 25px;
  margin-right: 9.5px;
}
.menu__titre__nom i {
  margin-left: 65px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  position: relative;
}
.menu__titre__nom i i:hover {
  background: -webkit-linear-gradient(#9c47fc,#FF79DA );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  right: 0px;
  top: 0px;
}
.menu__titre__nom i i {
  position: absolute;
  top: 1.4px;
  right: 1px;
  font-size: 28px;
  transition: color 1000ms;
  color: #ffffff;
}
.menu__titre__nom i i:hover {
  background: -webkit-linear-gradient(#9c47fc,#FF79DA );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  right: 0px;
  top: 0px;
}
.menu__titre__style {
  border-bottom: 2px solid #99E2D0;
  width: 47px;
  font-family: robotothin;
}
.menu__entrees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  transform-origin: 50% top;
  transform: scale(0);
  -webkit-animation: menu__entrees 300ms 200ms linear both;
          animation: menu__entrees 300ms 200ms linear both;
}
@-webkit-keyframes menu__entrees {
  0% {
    transform: scaleY(1);
    opacity: 0;
  }
  20% {
    transform: scaleY(1);
    opacity: 0.1;
  }
  40% {
    transform: scaleY(1);
    opacity: 0.12;
  }
  60% {
    transform: scaleY(1);
    opacity: 0.15;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes menu__entrees {
  0% {
    transform: scaleY(1);
    opacity: 0;
  }
  20% {
    transform: scaleY(1);
    opacity: 0.1;
  }
  40% {
    transform: scaleY(1);
    opacity: 0.12;
  }
  60% {
    transform: scaleY(1);
    opacity: 0.15;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
.menu__entrees__box {
  width: 330px;
  height: 55px;
  background-color: #99E2D0;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 1px 4px 10px grey;
  justify-content: space-around;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__entrees__box__1 {
  background-color: white;
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  justify-content: space-between;
  margin: -2px;
  border-radius: 8px;
  position: relative;
  width: 330px;
}
.menu__entrees__box__1:hover {
  transform: scaleX(1);
  transition: width 950ms;
  width: 270px;
}
.menu__entrees__box__1:hover i {
  transform: scale(1) translateX(5px) rotate(-3turn);
  transition: transform 950ms ease-in-out;
}
.menu__entrees__box__1__choix {
  font-family: robotoblack;
  padding-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__entrees__box__1__choix--texte {
  font-weight: normal;
  font-style: normal;
  font-family: robotothin;
  font-size: 15px;
}
.menu__entrees__box__1__prix {
  font-weight: bold;
  padding-top: 22px;
  padding-right: 10px;
  font-family: robotoblack;
}
.menu__entrees__box__1__icone {
  position: absolute;
  right: -46px;
  width: 59px;
  height: 57px;
  top: 0px;
}
.menu__entrees__box__1__icone i {
  overflow: hidden;
  font-size: 20px;
  color: white;
  display: flex;
  margin-top: 21px;
  transform: scale(1) translateX(100px);
  display: flex;
  justify-content: center;
}
.menu__plats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  transform-origin: 50% top;
  transform: scaleY(0);
  -webkit-animation: menu__plats 300ms 550ms linear both;
          animation: menu__plats 300ms 550ms linear both;
}
@-webkit-keyframes menu__plats {
  0% {
    transform: scaleY(1);
    opacity: 0;
  }
  20% {
    transform: scaleY(1);
    opacity: 0.1;
  }
  40% {
    transform: scaleY(1);
    opacity: 0.12;
  }
  60% {
    transform: scaleY(1);
    opacity: 0.15;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes menu__plats {
  0% {
    transform: scaleY(1);
    opacity: 0;
  }
  20% {
    transform: scaleY(1);
    opacity: 0.1;
  }
  40% {
    transform: scaleY(1);
    opacity: 0.12;
  }
  60% {
    transform: scaleY(1);
    opacity: 0.15;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
.menu__plats__box {
  width: 330px;
  height: 55px;
  background-color: #99E2D0;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 1px 4px 10px grey;
  justify-content: space-around;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plats__box__1 {
  background-color: white;
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  justify-content: space-between;
  margin: -2px;
  border-radius: 8px;
  position: relative;
  width: 330px;
}
.menu__plats__box__1:hover {
  transform: scaleX(1);
  transition: width 950ms;
  width: 270px;
}
.menu__plats__box__1:hover i {
  transform: scale(1) translateX(5px) rotate(-3turn);
  transition: transform 950ms ease-in-out;
}
.menu__plats__box__1__choix {
  font-family: robotoblack;
  padding-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plats__box__1__choix--texte {
  font-weight: normal;
  font-style: normal;
  font-family: robotothin;
  font-size: 15px;
}
.menu__plats__box__1__prix {
  font-weight: bold;
  padding-top: 22px;
  padding-right: 10px;
  font-family: robotoblack;
}
.menu__plats__box__1__icone {
  position: absolute;
  right: -46px;
  width: 59px;
  height: 57px;
  top: 0px;
}
.menu__plats__box__1__icone i {
  overflow: hidden;
  font-size: 20px;
  color: white;
  display: flex;
  margin-top: 21px;
  transform: scale(1) translateX(100px);
  display: flex;
  justify-content: center;
}
.menu__desserts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  transform-origin: 50% top;
  transform: scaleY(0);
  -webkit-animation: menu__desserts 300ms 1050ms linear both;
          animation: menu__desserts 300ms 1050ms linear both;
}
@-webkit-keyframes menu__desserts {
  0% {
    transform: scaleY(1);
    opacity: 0;
  }
  20% {
    transform: scaleY(1);
    opacity: 0.1;
  }
  40% {
    transform: scaleY(1);
    opacity: 0.12;
  }
  60% {
    transform: scaleY(1);
    opacity: 0.15;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes menu__desserts {
  0% {
    transform: scaleY(1);
    opacity: 0;
  }
  20% {
    transform: scaleY(1);
    opacity: 0.1;
  }
  40% {
    transform: scaleY(1);
    opacity: 0.12;
  }
  60% {
    transform: scaleY(1);
    opacity: 0.15;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
.menu__desserts__box {
  width: 330px;
  height: 55px;
  background-color: #99E2D0;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 1px 4px 10px grey;
  justify-content: space-around;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__desserts__box__1 {
  background-color: white;
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  justify-content: space-between;
  margin: -2px;
  border-radius: 8px;
  position: relative;
  width: 330px;
}
.menu__desserts__box__1:hover {
  transform: scaleX(1);
  transition: width 950ms;
  width: 270px;
}
.menu__desserts__box__1:hover i {
  transform: scale(1) translateX(5px) rotate(-3turn);
  transition: transform 950ms ease-in-out;
}
.menu__desserts__box__1__choix {
  font-family: robotoblack;
  padding-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__desserts__box__1__choix--texte {
  font-weight: normal;
  font-style: normal;
  font-family: robotothin;
  font-size: 15px;
}
.menu__desserts__box__1__prix {
  font-weight: bold;
  padding-top: 22px;
  padding-right: 10px;
  font-family: robotoblack;
}
.menu__desserts__box__1__icone {
  position: absolute;
  right: -46px;
  width: 59px;
  height: 57px;
  top: 0px;
}
.menu__desserts__box__1__icone i {
  overflow: hidden;
  font-size: 20px;
  color: white;
  display: flex;
  margin-top: 21px;
  transform: scale(1) translateX(100px);
  display: flex;
  justify-content: center;
}
.menu__bouton {
  margin-top: 60px;
  margin-bottom: 60px;
}
.menu__bouton :hover {
  border-radius: 25px;
  background: radial-gradient(circle, #c968db 10%, #c253d6 100%);
  opacity: 1;
  transition: box-shadow 500ms;
  box-shadow: 1px 4px 10px grey;
}
.menu__bouton__commander {
  color: #F2F2F2;
  text-align: center;
  font-family: robotoblack;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 120px;
  margin: 0 auto;
  background: linear-gradient(to top left, #9356DC, #ff79DA);
  border-radius: 25px;
}

footer {
  background-color: #303030;
  height: 230px;
}
footer .information {
  height: 170px;
  padding-top: 20px;
  margin-left: 16.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .information__logo {
  font-size: 20px;
  padding: 20px 20px 15px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: shrikhandregular;
  color: white;
}
footer .information__texte {
  color: white;
  font-size: 15px;
  display: flex;
  font-family: robotoblack;
}
footer .information__texte__icone {
  width: 30px;
}
footer .information__texte a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 180px) and (max-width: 336px) {
  .menu__titre {
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    font-family: robotothin;
  }
  .menu__titre__nom {
    font-family: shrikhandregular;
    font-size: 25px;
    margin-left: 1%;
  }
  .menu__titre__style {
    border-bottom: 2px solid #99E2D0;
    width: 15%;
    margin-left: 1%;
  }
  .menu__entrees__box {
    width: 95%;
  }
  .menu__entrees__box__1 {
    width: 96%;
  }
  .menu__entrees__box__1:hover {
    width: 80%;
  }
  .menu__plats__box {
    width: 95%;
  }
  .menu__plats__box__1 {
    width: 96%;
  }
  .menu__plats__box__1:hover {
    width: 80%;
  }
  .menu__desserts__box {
    width: 95%;
  }
  .menu__desserts__box__1 {
    width: 96%;
  }
  .menu__desserts__box__1:hover {
    width: 80%;
  }
}
@media screen and (min-width: 180px) and (max-width: 331px) {
  header .logo {
    color: #F2F2F2;
  }

  .menu__titre {
    margin: 0 auto;
    width: 100%;
    position: relative;
    justify-content: space-between;
    font-family: robotothin;
  }
}/*# sourceMappingURL=omgf5.css.map */