@font-face {
  font-family: "shrikhandregular";
  src: url("/webfontkit-SKR/shrikhand-regular-webfont.woff2") format("woff2"), url("/webfontkit-SKR/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("/webfontkit-20210121-092736/roboto-black-webfont-webfont.woff2") format("woff2"), url("roboto-black-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("/webfontkit-20210121-092736/roboto-bold-webfont-webfont.woff2") format("woff2"), url("/webfontkit-20210121-092736/roboto-bold-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("/webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff2") format("woff2"), url("/webfontkit-20210121-092736/roboto-thin-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: 375px;
  background-repeat: no-repeat;
  background-position: 0px -40px;
}

header {
  width: 375px;
}
header .logo {
  width: 375px;
  display: flex;
  background-color: white;
}
header .logo__icone {
  font-size: 20px;
  width: 50px;
  padding: 15px 0px 0px 20px;
}
header .logo__image {
  display: flex;
  justify-content: right;
  margin-left: 30px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .restaurant__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 375px;
  height: 250px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 1200px;
  margin-top: 230px;
  border: 2px solid grey;
  border-radius: 25px 25px 0px 0px;
  background-color: white;
}
.menu__titre {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 16.5px;
}
.menu__titre__nom {
  font-family: shrikhandregular;
  font-size: 30px;
}
.menu__titre__style {
  border-bottom: 2px solid #99E2D0;
  width: 15%;
  font-family: robotothin;
}
.menu__entrees {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 470px;
}
.menu__entrees__1 {
  width: 330px;
  height: 45px;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  box-shadow: 1px 4px 10px grey;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.menu__entrees__1__choix {
  font-weight: bold;
  padding-top: 5px;
  font-family: robotoblack;
}
.menu__entrees__1__choix--texte {
  font-weight: normal;
  font-style: normal;
  font-family: robotothin;
}
.menu__entrees__1__prix {
  font-weight: bold;
  padding-top: 22px;
  padding-right: 10px;
  font-family: robotoblack;
}
.menu__plats, .menu__desserts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}
.menu__plats__1, .menu__desserts__1 {
  width: 330px;
  height: 45px;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  box-shadow: 1px 4px 10px grey;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.menu__plats__1__choix, .menu__desserts__1__choix {
  font-weight: bold;
  padding-top: 5px;
}
.menu__plats__1__choix--texte, .menu__desserts__1__choix--texte {
  font-weight: normal;
  font-style: normal;
}
.menu__plats__1__prix, .menu__desserts__1__prix {
  font-weight: bold;
  padding-top: 22px;
  padding-right: 10px;
}
.menu__bouton {
  border: 2px solid #9356DC;
  background-color: #9356DC;
  border-radius: 25px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 115.953px;
  margin-right: 115.953px;
}
.menu__bouton__commander {
  color: #F2F2F2;
  padding: 10px 20px 10px 25px;
  font-family: robotoblack;
}

footer {
  background-color: grey;
  height: 230px;
}
footer .information {
  height: 170px;
  padding-top: 20px;
  margin-left: 16.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .information__logo {
  font-size: 20px;
  padding: 20px 20px 15px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: shrikhandregular;
  color: white;
}
footer .information__texte {
  color: white;
  font-size: 15px;
  display: flex;
  font-family: robotoblack;
}
footer .information__texte__icone {
  width: 30px;
}
/*# sourceMappingURL=omgf3.css.map */